@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #1B1B1B;
}

.container {
  width: 1260px;
  max-width: 100%;
  background-color: #1B1B1B;
}
.head {
  width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1B1B1B;
}
.container img {
  width: 7rem;
  height: 7rem;
}
.navbar {
  gap: 2.5rem;
}
.navbar a {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  transition: 100ms;
}
.navbar a:hover {
  cursor: pointer;
  border-bottom: solid 1px #ffffff;
}
.firstsec {
  width: 1240px;
  height: 500px;
  background-image: url(./images/hero-sec.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 8rem;
}
.firstsec p {
  width: 500px;
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  text-align: left;
  padding-left: 1rem;
  padding-top: 1rem;
}

.firstsec span {
  font-size: 2rem;
  font-weight: 600;
  color: #ff8c00;
}
.secspan {
  font-size: 2rem;
  font-weight: 600;
  color: #fffacd;
}
.images-container {
  width: 1240px;
  display: flex;
  gap: 10px;
  margin-bottom: 4rem;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.left-top {
  width: 410px;
  height: 510px;
  background-image: url(./images/left-top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.left-bootm {
  width: 410px;
  height: 300px;
  background-image: url(./images/left-bootm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.center {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.center-top {
  width: 410px;
  height: 300px;
  background-image: url(./images/center\ top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.center-bootm {
  width: 410px;
  height: 510px;
  background-image: url(./images/center-bootm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.right-top {
  width: 400px;
  height: 510px;
  background-image: url(./images/right-top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.right-bootm {
  width: 400px;
  height: 300px;
  background-image: url(./images/right-bootm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.topic {
  font-size: 28px;
  font-weight: 600;
  line-height: 45px;
  text-align: left;
  margin-bottom: 3rem;
  color: #ffffff;
}

.car-link {
  width: 1240px;
  height: 500px;
  background-image: url(./images/cars-pages.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  margin-bottom: 5rem;
}

.button {
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
  border: 4px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 5px;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.button:hover .button-box,
.button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}
