@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
body {
  height: 200vh;
  background-color: #141a1c;
  overflow-x: hidden;
}

:root {
  --primary-color: #c19a6b;
  --secondary-color: #bebfc5;
}

.container {
  width: 1300px !important;
  max-width: 100%;
}

header {
  background-color: rgba(0, 0, 0, 0.603) !important;
  transition: background-color 0.3s ease;
}

.navbar-custom {
  background-color: #333;
}
.navbar-brand img {
  max-height: 70px;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: var(--secondary-color);
}

.navbar-custom .navbar-toggler-icon {
  filter: invert(1);
}

.navbar-custom .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.offcanvas {
  background-color: #333 !important;
  color: #f8f9fa;
}
.offcanvas.show:not(.hiding),
.offcanvas.showing {
  transform: none;
  width: 50%;
}
.offcanvas-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.offcanvas-title {
  color: var(--secondary-color);
}

.offcanvas-body .nav-link {
  color: var(--secondary-color);
}

.video-container {
  max-width: 100%;
}

video {
  transition: all 0.3s ease;
}

.first-title h1 {
  font-family: Inconsolata, sans-serif;
  font-size: clamp(48px, 8vw, 100px);
  color: var(--primary-color);
  color: #ffffff;
}
.first-title h2 {
  font-family: "Source Code Pro", serif;
  font-size: 2rem;
  color: var(--primary-color);
}
.first-title span {
  color: var(--primary-color);
}
.first-title p {
  color: var(--secondary-color);
  font-size: clamp(0.5rem, 5vw, 1.5rem);
  border-bottom: 2px solid #c19a6b;
  margin-bottom: 5rem;
}
.car-link {
  position: relative;
  background-image: url(./images/about-limmo-large.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-bottom: 3px solid var(--primary-color);
  overflow: hidden;
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.8s ease-out;
}

.car-link.show {
  opacity: 1;
  transform: translateX(0);
}

.car-link-wrapper {
  position: relative;
  display: inline-block;
}
.topic h1 {
  font-family: Inconsolata, sans-serif;
  font-size: clamp(25px, 8vw, 45px);
  color: #ffffff;
}
.topic p {
  font-family: "Source Code Pro", serif;
  font-size: clamp(10px, 5vw, 20px);
  color: var(--primary-color);
}
.car-page {
  text-decoration: none;
  position: relative;
  width: max-content;
  color: #ffffff;
  font-size: clamp(23px, 5vw, 33px);
}
.car-page::after {
  content: "";
  background: linear-gradient(to right, #141a1c, #c19a6b);
  border-radius: 10%;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: -3%;
}
.sec-topic {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .car-link {
    height: 30vh;
    padding: 1rem;
  }

  .button {
    width: 80px;
    height: 40px;
  }

  .button-elem {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .car-link {
    height: 30vh;
  }

  .button {
    width: 60px;
    height: 30px;
  }

  .button-elem {
    width: 20px;
    height: 20px;
  }
}

.branches-section {
  padding: 3rem 0;
}

.about-topic h1 {
  font-size: clamp(25px, 8vw, 45px);
  color: #ffffff;
}

.branch-information {
  width: 100%;
}

.text-highlight {
  color: var(--primary-color);
  font-weight: 600;
  text-align: left;
}

.branch-address {
  color: var(--secondary-color);
  font-style: normal;
  line-height: 1.6;
}

.about-us-image {
  width: 100%;
  max-width: 50%;
  min-height: 400px;
  background-image: url("./images/abotus.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .branches-section {
    padding: 2rem 0;
  }

  .branch-details {
    flex-direction: column;
  }

  .about-us-image {
    max-width: 100%;
    min-height: 250px;
  }
}

.advantages-section {
  color: var(--secondary-color);
}
.advantages-section h1 {
  font-size: clamp(38px, 5vw, 55px);
  color: #ffffff;
}
.section-title {
  font-family: "Barlow", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.text-highlight {
  color: var(--primary-color);
}
.slogan {
  color: var(--secondary-color);
}
.slogan-2 {
  color: var(--secondary-color);
  padding-bottom: 4rem;
  border-bottom: 3px solid var(--primary-color);
}
.advantage-card {
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.advantage-card:hover {
  transform: translateY(-10px);
}

.advantage-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.advantage-icon img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.advantage-title {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.advantage-description {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }

  .advantage-card {
    margin-bottom: 1.5rem;
  }
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  transition: all 0.3s ease;
}

.social-icon .icon {
  width: 24px;
  height: 24px;
  fill: var(--secondary-color);
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: translateY(-5px);
}

.social-icon.instagram:hover {
  background-color: #d62976;
}

.social-icon.tiktok:hover {
  background-color: #25f4ee;
}

.social-icon.facebook:hover {
  background-color: #1877f2;
}

.social-icon.whatsapp:hover {
  background-color: green;
}

@media (max-width: 768px) {
  .social-links {
    gap: 1rem;
  }

  .social-icon {
    width: 44px;
    height: 44px;
  }

  .social-icon .icon {
    width: 20px;
    height: 20px;
  }
}
